/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
}

.title-highlight {
    color: red;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    font-size: 1.2em;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
}

#search-button, #favorites-button {
    background: none;
    border: 2px solid black;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.search-icon {
    width: 30px;
    height: 30px;
}

.favorite-btn {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1em;
}

/* Grid Layout for Search Results */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 shows per row */
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.grid-container .content-item {
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-container img {
    max-width: 100%;
    border-radius: 8px;
}

.grid-container h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.grid-container p {
    font-size: 1em;
    color: #666;
}
/* styles.css */
.getting-started-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

ol li {
    margin-bottom: 20px;
}

button#start-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
